h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: center;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

h5{
    color: #ffffff;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

.caixa{
    position: relative;
    width: 900px;
    margin:  0 auto;
}

header{
    background: #BBBBBB;
    padding:  20px 0;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 11px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: nome;
}

nav a:hover {
    color: #006600;
    text-decoration: underline;
}

.meio h1{
    text-align: center;
}